<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djhu.mapper.atses.TbDbPurchaserRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.djhu.entity.atses.TbDbPurchaserRecord">
        <id column="ID" property="id" />
        <result column="CURRENT_DB_ID" property="bakId" />
        <result column="EXTERNAL_DB_ID" property="externalDbId" />
        <result column="PURCHASER_ID" property="purchaserId" />
        <result column="TOTAL" property="total" />
        <result column="ES_INDEX" property="esIndex" />
        <result column="ES_TYPE" property="esType" />
        <result column="CONSUME" property="consume" />
        <result column="CREATEDATE" property="createdate" />
        <result column="UPDATEDATE" property="updatedate" />
        <result column="STATUS" property="status" />
        <result column="RETRY_COUNT" property="retryCount" />
        <result column="CUSTOM0" property="custom0" />
        <result column="CUSTOM1" property="custom1" />
        <result column="CUSTOM2" property="custom2" />
    </resultMap>

</mapper>
